@charset "UTF-8";

/* 回答はここに書いてね */

/* 共通クラス */
/* Q7__boxの共通のwidth */
.q7_box_width {
  width: 225px;
}

/* box-sizingをborder-boxに設定 */
.q7_box_sizing {
  box-sizing: border-box;
}

/* Q7-1の記述 */
.q7_float {
  float: left;
  margin-left: 50px;
}

.q7_float:first-child {
  margin-left: 0;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
/* Q7-1の記述 */

/* Q7-2の記述 */
.q7_table {
  display: table;
  table-layout: fixed;
}

.q7_table_cell {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.q7_table_cell:first-child {
  padding-left: 0;
}
/* Q7-2の記述 */

/* Q7-3の記述 */
/* display: inline-blockでできる隙間をなくすため */
.q7_fontsize_0 {
  font-size: 0;
}

.q7_d_inline_block {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 50px;
}

.q7_d_inline_block:first-child {
  margin-left: 0;
}
/* Q7-3の記述 */

/* Q7-4の記述 */
.q7_flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
/* Q7-4の記述 */

/* Q7-5の記述 */
.q7__box.is-stable {
  display: inline-block;
  width: 300px;
}

.q7__box.is-flexible {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  vertical-align: top;
}

.q7__box__text {
  font-size: 16px;
}
/* Q7-5の記述 */
/* 回答はここに書いてね */
