@charset "UTF-8";

/* 回答はここに書いてね */
.q7_width {
  width: 225px;
  box-sizing: border-box;
}
/* Q7-1の記述 */
.q7_float {
  float: left;
  margin-left: 50px;
}

.q7_float:first-child {
  margin-left: 0;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
/* Q7-1の記述 */

/* Q7-2の記述 */
.q7_table {
  display: table;
  table-layout: fixed;
}

.q7_table_cell {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.q7_table_cell:first-child {
  padding-left: 0;
}

.q7_table_width {
  width: 225px;
}
/* Q7-2の記述 */

/* Q7-3の記述 */
.q7_fontsize {
  font-size: 0;
}

.q7_inline_block {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  margin-left: 50px;
}

.q7_inline_block:first-child {
  margin-left: 0;
}
/* Q7-3の記述 */

/* Q7-4の記述 */
.q7_flex {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
/* Q7-4の記述 */

/* Q7-5の記述 */
.q7_box1 {
  display: inline-block;
  width: 300px;
  font-size: 16px;
}

.q7_box2 {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
  font-size: 16px;
}
/* Q7-5の記述 */
/* 回答はここに書いてね */
