@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  width: 100%;
  table-layout: fixed;
}

.q3_table th, .q3_table td {
  padding: 10px;
  border: solid 1px #dedede;
  text-align: center;
}

.q3_table th {
  color: #fff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

.q3_table td {
  font-size: 16px;
  line-height: 22px;
}

.q3_table tbody tr:last-child {
  border-top: 2px dashed #000;
}

.q3_table tr:nth-child(even) {
  background-color: #ecf1f2;
}
/* 回答はここに書いてね */
