@charset "UTF-8";

/* 回答はここに書いてね */
/* q6-1の記述 */
.q6__box__text {
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
}

.q6__box.is-textalign {
  text-align: center;
}

.q6__box.is-textalign .q6__box__text {
  display: inline-block;
}

.q6__box.is-margin .q6__box__text {
  margin: 0 auto;
  text-align: center;
}
/* q6-2の記述 */
.q6_table {
  display: table;
}

.q6_table_cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q6_table_text {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}

.q6_position_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6_text {
  background-color: #fff;
  padding: 10px;
}

.q6_position_fixed {
  position: relative;
}

.q6_textbox_absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.q6_position_flexible {
  position: relative;
}

.q6_textbox_flexible {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
