@charset "UTF-8";

/* 回答はここに書いてね */
.q8_img_box {
  position: relative;
  width: 500px;
  height: 333px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}

.img1 {
  transition: 0.5s all;
}

.img1:hover {
  transform: scale(1.5, 1.5);
}

.q8_textbox {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}

.q8_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  word-break: break-all;
}

.img1:hover .q8_text {
  bottom: 0;
  left: 0;
}
/* 回答はここに書いてね */
